@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@500&display=swap');
.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--color-black);
}
.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.app__navbar-logo img {
  width: 125px;
}
.app__navbar-links {
  color: white;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
}
.app__navbar-links li:hover {
  color: var(--color-grey);
}
.app__navbar-login {
  display: flex;
  text-decoration: none;
  align-items: center;
}
.app__navbar-login a {
  margin: 0 1rem;
  text-decoration: none;
  transition: 0.5s ease;
}
.app__navbar-login a:hover {
  border-bottom: 1px solid var(--color-golden);
}
.app__navbar-login div {
  width: 1px;
  height: 30px;
  background-color: var(--color-grey);
}
.app__navbar-smallscreen {
  color: white;
  display: none;
}
.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-black);
  transition: 0.5s ease;

  flex-direction: column;
  z-index: 5;
}
.app__navbar--header {
  color: var(--color-white);
  letter-spacing: 0.2em;
  font-family: 'Cormorant Upright', serif;
  font-size: 23px;
}

.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 27px;
  color: var(--color-golden);
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;
}
.app__navbar-smallscreen_links {
  list-style: none;
}
.app__navbar-smallscreen_links li {
  margin: 2rem;
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
  color: var(--color-golden);
  font-family: var(--font-base);
  font-size: 2rem;
}
.app__navbar-smallscreen_links li:hover {
  color: rgb(165, 124, 0, 0.3);
}
@media screen and (max-width: 2000px) {
  .app__navbar--header img {
    width: 210px;
  }
}
@media screen and (max-width: 1150px) {
  .app__navbar-links {
    display: none;
  }
  .app__navbar-smallscreen {
    display: flex;
  }
  .app__navbar-menu {
    margin-top: 16px;
  }
}
@media screen and (max-width: 650px) {
  .app__navbar {
    padding: 1rem;
  }
  .app__navbar-login {
    display: none;
  }
  .app__navbar-logo {
    width: 110px;
  }
  .app__navbar-menu {
    margin-top: 16px;
  }
}
